<h1>These are your requests</h1>
<div class="col-sm-12 col-md-6 col-lg-6">
  <% @requests.each do |request| %>
    <%= cl_image_tag request.gear.photo, height: 300, width: 400, crop: :fill %>
    <h3 class="nameRequest"><%= request.gear.name.capitalize %></h3>
    <!-- Start + End request -->
    <p>Start: <%= request.start %></p>
    <p>End: <%= request.end %></p>
    <p class="catRequest"><strong><%= request.gear.category.capitalize %></strong></p>
    <p class="descRequest"><%= request.gear.description.capitalize %></p>

      <%= link_to "Accept this request", accept_request_path(request) %>
      <%= link_to "Decline this request", decline_request_path(request) %>

    <p class="priceRequest"><%= request.gear.price %>$/day</p>
  <% end %>
</div>
