<h1 class="">This is your request!</h1>
   <div class="requests-show-page">
  <%= cl_image_tag @request.gear.photo, height: 300, width: 400, crop: :fill %>
  <h3 class="nameRequest"><%= @request.gear.name.capitalize %></h3>
  <p>Start: <%= @request.start %></p>
  <p>End: <%= @request.end %></p>
  <p class="catRequest"><strong><%= @request.gear.category.capitalize %></strong></p>
  <p class="descRequest"><%= @request.gear.description.capitalize %></p>

    <%= link_to "Accepted", accept_request_path(@request) %>
    <%= link_to "Declined", decline_request_path(@request) %>

  <p class="priceRequest"><%= @request.gear.price %>$/day</p>
</div>
