<body>
  <div class="homepage">
    <center>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1><strong>Welcome Back</strong></h1>
      <p><%= link_to "Browse gears", gears_path %></p>
        <%= form_tag gears_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "input_large",
        placeholder: "Find a gear" %>
         <%= select_tag :category, options_for_select(["skiing", "hiking"], params[:category]), {:include_blank => 'Please select...'}%>
        <%= button_tag 'Submit', class: 'btn-search' %>
        <% end %>
    </center>
  </div>
</body>
