<h1> Add a new gear</h1>
<div class="col-xs-6">
  <%= simple_form_for([user, gear]) do |f| %>
    <%= f.input :name %>
    <%= f.input :category : collection: ['skiing', 'camping', 'hiking', 'climbing'] %>
    <%= f.input :size : collection: ['XS', 'S', 'M', 'L', 'XL'] %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
