<h1> Add a new gear</h1>
<div class="col-xs-6">
  <%= simple_form_for([@user, @gear]) do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :size %>
    <%= f.input :price %>
    <%= f.button :submit %>
  <% end %>
</div>
