<div class="new-gear">
  <h1> Add a new gear</h1>
  <div class="col-xs-6">
    <div class="new-gear-specifics">
    <%= simple_form_for([@user, @gear]) do |f| %>
     <p> <%= f.input :name %> </p>
     <p> <%= f.input :category %></p>
     <p> <%= f.input :size %></p>
     <p> <%= f.input :description %></p>
     <p> <%= f.input :price %></p>
     <p> <%= f.input :photo %></p>
     <p> <%= f.input :photo_cache, as: :hidden %></p>
     <p> <%= f.button :submit, class: "btn btn-primary" %></p>
    <% end %>
    </div>
  </div>
</div>

