<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>


    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  </head>
  <body>
    <div class="navbar-lewagon">
      <%=link_to(root_path) do %>
      <img src="http://i66.tinypic.com/148d5k9.png" class="logo">
      <% end %>
  <!-- displayed on laptops -->
      <div class="navbar-lewagon-actions d-none d-sm-flex">
        <div class="navbar-lewagon-link"> <%= link_to "Add Gear", new_gear_path(@gear) %></div>
        <div class="badge-container">
          <div class="navbar-lewagon-link">
            Requests<span class="badge badge-pill badge-secondary text-white"></span>
          </div>
        </div>
        <div class="navbar-lewagon-link"><%= link_to "Browse gears", gears_path %></div>
        <div class="navbar-lewagon-link"> <%= link_to "My gears", profile_path %></div>
        <div class="dropdown">
          <%= cl_image_tag(current_user.photo,
          width: 45, height: 45, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "dropdownMenuButton", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false") %>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item"><i class="fas fa-user"></i><%= link_to "Account", profile_path %></div><br>
              <div class="dropdown-item"><% if user_signed_in? %><i class="fas fa-sign-out-alt"></i>
              <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> <% end %></div><br>
            </div>
         </div>
      </div>
  </div>
</div>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_SERVER_KEY']}" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag "map" %>
  </body>
</html>
