<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="navbar-lewagon">
  <div class="navbar-lewagon-link"> <%= link_to "Add Gear", new_gear_path(@gear) %></div>
  </a>

  <!-- displayed on laptops -->
  <div class="navbar-lewagon-actions d-none d-sm-flex">
    <div class="badge-container">
      <a href="#" class="navbar-lewagon-link">Requests <span class="badge badge-pill badge-secondary text-white">5</span></a>
    </div>
    <div class="dropdown">
      <img src='https://via.placeholder.com/150' class="avatar dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"><i class="fas fa-user"></i>Account</a><br>
          <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Log out</a><br>
        </div>
     </div>
  </div>
</div>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
